.cart-list {
  /* border: 3px solid red; */
  max-width: 30rem;
  margin: 5% auto;
  background-color: rgb(249, 246, 240);
  border-radius: 12px;
  padding: 2rem;
  padding: 2rem 2rem 0.5rem 2rem;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.total-price {
  font-size: 1.2rem;
  font-weight: 800;
  color: brown;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

button[type="button"] {
  padding: 0.5rem 1.6rem;
}

